<h2>{{ title }}</h2>

<form [formGroup]="form" class="generic-form">
  <div *ngFor="let field of fields" class="generic-form__field">
    <label>{{ field.label }}</label>

    <ng-container *ngIf="field.type === 'select'; else textField">
      <select [formControlName]="field.key">
        <option [ngValue]="null">בחר...</option>
        <option *ngFor="let option of field.options || []" [ngValue]="option.value">
          {{ option.label }}
        </option>
      </select>
    </ng-container>

    <ng-template #textField>
      <input [formControlName]="field.key" type="text" [readOnly]="mode === 'view'" />
    </ng-template>
  </div>

  <div class="generic-form__actions">
    <button class="btn btn-primary" type="button" (click)="save()" [hidden]="mode === 'view'">שמור</button>
    <button class="btn btn-secondary" type="button" (click)="cancel()">חזור</button>
    <button class="btn btn-tertiary" type="button" (click)="startEdit()" *ngIf="mode === 'view'">ערוך</button>
  </div>
</form>